body,
html {
  width: 100%;
  height: 100%; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*:before,
*:after {
  box-sizing: inherit; }

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; } }

section {
  padding-top: 80px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  padding-left: 0;
  margin: 0; }

a:hover {
  text-decoration: none; }

body {
  background-color: white;
  text-align: center; }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400; }
  body #section-heading {
    font-weight: 500;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; }
  body .text__underline {
    position: relative;
    background: inherit;
    white-space: nowrap;
    z-index: 2; }
    body .text__underline .underline {
      background: #d3deee;
      opacity: 0.7;
      position: absolute;
      top: 0.8em;
      z-index: -1;
      height: 0.3em; }

.container {
  padding: 7% 15%; }

.button {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.7rem;
  background-color: #15191B;
  color: white;
  padding: 10px 30px;
  border-radius: 2px;
  transition: all 0.15s linear;
  border: 1px solid transparent; }

.button:hover {
  background-color: white;
  color: #15191B;
  border: 1px solid #15191B; }

.btn:focus {
  box-shadow: none; }

.tech-icons__container img {
  transition: transform 0.35s ease; }
  .tech-icons__container img:hover {
    transform: scale(1.25); }

.footer__container i {
  transition: transform 0.35s ease; }
  .footer__container i:hover {
    transform: scale(1.2); }

.arrow-container {
  position: absolute;
  top: initial;
  bottom: initial;
  left: 50%;
  transform: translate(-50%, 0) scale(1);
  transition: all 0.2s ease-in;
  border-radius: 50%;
  background: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-animation: bounce 2s infinite ease-in-out 1.2s;
          animation: bounce 2s infinite ease-in-out 1.2s; }
  .arrow-container img {
    width: 30px;
    transform: translate(0, 3px); }

@-webkit-keyframes bounce {
  0% {
    transform: translate(-50%, 0px); }
  50% {
    transform: translate(-50%, 6.5px); }
  100% {
    transform: translate(-50%, 0px); } }

@keyframes bounce {
  0% {
    transform: translate(-50%, 0px); }
  50% {
    transform: translate(-50%, 6.5px); }
  100% {
    transform: translate(-50%, 0px); } }

.header {
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  width: 100%;
  background: white; }

.header__wrapper {
  background-color: transparent; }

.header__container {
  height: 88px;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.logo__container {
  width: 188px;
  height: 30px; }

.top-nav__mobile-toggle {
  position: relative;
  display: none;
  z-index: 999; }

@media (max-width: 850px) {
  .top-nav__mobile-toggle {
    display: block; } }

.top-nav__hamburger {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer; }

span {
  position: absolute;
  right: 0;
  height: 2px;
  background: #15191B;
  transition: all 0.1s ease-out;
  transition-delay: 0.3s; }

span:nth-child(1) {
  top: 0;
  width: 100%; }

.open span:nth-child(1) {
  transform: rotate(-45deg);
  top: calc(50% - 1px); }

span:nth-child(2) {
  top: calc(50% - 2px);
  width: 50%; }

.open span:nth-child(2) {
  opacity: 0; }

span:nth-child(3) {
  top: calc(100% - 3px);
  width: 75%; }

.open span:nth-child(3) {
  transform: rotate(45deg);
  width: 100%;
  top: calc(50% - 1px); }

@media (max-width: 850px) {
  .top-nav__list__wrapper {
    position: fixed;
    height: 100vh;
    top: calc(-100vh - 100px);
    left: 0;
    z-index: 99;
    background: white;
    width: 100%;
    transition: top 0.5s cubic-bezier(0.9, -0.01, 0.805, 0.95); }
  .open .top-nav__list__wrapper {
    top: 0; }
  .top-nav__list__container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white; } }

.top-nav__list {
  display: flex;
  align-items: center; }

@media (max-width: 850px) {
  .top-nav__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 20px 0px; } }

.top-nav__list li {
  display: inline-block; }

@media (max-width: 850px) {
  .top-nav__list li {
    margin-bottom: 20px; }
  .top-nav__list li:nth-child(3) {
    margin-bottom: 30px; } }

.top-nav__list li:not(:last-child) {
  margin-right: 48px; }

.top-nav__link {
  color: #15191B;
  font-size: 14px;
  letter-spacing: 0.75px;
  font-weight: 500;
  position: relative; }

.top-nav__link:hover {
  color: #15191B; }

@media (max-width: 850px) {
  .top-nav__link {
    font-size: 22px; } }

.top-nav__link::after {
  content: '';
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  height: 2px;
  width: 0%;
  background: currentColor;
  transition: transform, width 0.2s ease-in-out; }

.top-nav__link:hover::after {
  width: 100%; }

.top-nav__cta {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.7rem;
  background-color: #15191B;
  color: white;
  padding: 10px 30px;
  border-radius: 2px;
  transition: all 150ms;
  border: 1px solid transparent; }

.top-nav__cta:hover {
  background-color: white;
  color: #15191B;
  border: 1px solid #15191B; }

@media (max-width: 850px) {
  .top-nav__cta {
    font-size: 0.9rem; } }

#about {
  padding-bottom: 80px;
  position: relative;
  width: 100%; }
  #about .arrow-container {
    top: -30px; }
  #about .container-fluid {
    max-width: 1020px; }
    #about .container-fluid h1 {
      margin-top: 20px; }
    #about .container-fluid .about__container {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1020px;
      margin: 40px auto 0; }
      #about .container-fluid .about__container .about__image__container {
        border-radius: 50%;
        border: 3px solid #f5f5f5;
        min-width: 150px;
        height: 156px;
        margin-left: 20px;
        margin-right: 20px;
        overflow: hidden;
        box-shadow: 0 2px 3px 0 lightgray; }
        #about .container-fluid .about__container .about__image__container img {
          width: 150px; }
      #about .container-fluid .about__container .about__text__container {
        max-width: 650px;
        margin-right: 20px; }
        #about .container-fluid .about__container .about__text__container p {
          margin-bottom: 0px;
          font-size: 20px;
          line-height: 2;
          font-weight: 500; }
      @media (max-width: 900px) {
        #about .container-fluid .about__container .about__text__container br {
          display: none; } }
    @media (max-width: 530px) {
      #about .container-fluid .about__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        #about .container-fluid .about__container .about__image__container {
          margin-bottom: 20px; }
        #about .container-fluid .about__container .about__text__container {
          margin-left: 10px;
          margin-right: 10px; } }
  #about .slant {
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
            clip-path: polygon(0 100%, 0 0, 100% 100%);
    background-color: #fbfbfb;
    height: 5vh;
    width: 50%;
    position: absolute;
    bottom: 0px;
    left: 0; }
  #about .slant:nth-of-type(2) {
    -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
            clip-path: polygon(0 100%, 100% 0, 100% 100%);
    left: 50%; }

#portfolio {
  background: #fbfbfb;
  position: relative;
  padding-bottom: 80px; }
  #portfolio .top-arrow {
    top: -30px; }
  #portfolio .bottom-arrow {
    bottom: -20px; }
  #portfolio #portfolio__container {
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto; }
    #portfolio #portfolio__container h1 {
      font-weight: 500; }
    #portfolio #portfolio__container li {
      display: inline-block; }
    #portfolio #portfolio__container #filter__buttons {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto; }
      #portfolio #portfolio__container #filter__buttons li {
        display: flex;
        margin: 5px 5px; }
      #portfolio #portfolio__container #filter__buttons .button {
        background-color: white;
        border: 1px solid #15191B;
        color: #15191B;
        font-weight: bold;
        position: relative;
        transition: color 0.35s ease;
        border-radius: 2px;
        box-shadow: 0 2px 5px 2px #bdbdbd;
        z-index: 2; }
      #portfolio #portfolio__container #filter__buttons .button::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #15191B;
        transition: width 0.425s ease-in-out;
        z-index: -1; }
      #portfolio #portfolio__container #filter__buttons .current {
        background-color: #15191B;
        border: 1px solid transparent;
        color: white; }
      #portfolio #portfolio__container #filter__buttons .button:not(.current):hover {
        color: white;
        border: 1px solid #15191B; }
      #portfolio #portfolio__container #filter__buttons .button:hover::after {
        width: 100%; }
    #portfolio #portfolio__container #portfolio__items__container {
      margin-top: 40px;
      max-width: 1020px;
      height: 100%;
      margin-right: auto;
      margin-left: auto; }
      #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item {
        margin: 20px; }
        #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .card-wrapper {
          width: 300px;
          height: 350px;
          perspective: 1200px; }
          #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .card-wrapper .card-container {
            position: relative;
            width: 100%;
            height: 100%;
            transition: transform 1s;
            transform-style: preserve-3d; }
            #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .card-wrapper .card-container .card-face {
              position: absolute;
              height: 100%;
              width: 100%;
              backface-visibility: hidden;
              -webkit-backface-visibility: hidden;
              border-radius: 16px;
              box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.25);
              overflow: hidden;
              display: flex;
              justify-content: center;
              align-items: center; }
        #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .card-wrapper:hover .card-container {
          transform: rotateY(180deg); }
        #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .card-img-container {
          height: 100%; }
        #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .card-img {
          width: 100%;
          -o-object-fit: contain;
             object-fit: contain; }
        #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .card-img-container-centered {
          height: 77%; }
        #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .card-face-back {
          background: white;
          transform: rotateY(180deg);
          color: black;
          display: flex;
          flex-direction: column;
          padding: 10px; }
          #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .card-face-back img {
            margin-bottom: 20px; }
          #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .card-face-back p:nth-of-type(1) {
            font-weight: bold;
            font-size: 1.3rem; }
          #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .card-face-back p:nth-of-type(2) {
            margin-bottom: 20px; }
          #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .card-face-back a {
            padding: 7px 10px;
            color: #2979ff;
            border: 1px solid #2979ff;
            border-radius: 20px;
            transition: all 0.5s ease; }
            #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .card-face-back a:hover {
              color: white;
              background: #2979ff;
              border: 1px solid #2979ff; }
        #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item h1 {
          text-align: center; }
        #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .item__wrapper {
          background-color: rgba(51, 71, 93, 0.6);
          overflow: hidden;
          position: relative; }
          #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .item__wrapper .item__image {
            width: 300px;
            height: 177.91px; }
          #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .item__wrapper .item__icon {
            height: 60px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0; }
        #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .item__wrapper:hover .item__image {
          opacity: 0.4;
          transform: scale(1.09);
          scale: 1.05;
          transition: opacity 0s, transform 0.25s linear; }
        #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .item__wrapper:hover .item__icon {
          opacity: 1;
          transition: opacity, 0.25s; }
        #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .item__info__container {
          font-family: 'Montserrat', serif;
          background-color: white;
          height: 80px;
          padding: 20px 0; }
          #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .item__info__container p {
            padding: 0;
            margin: 0; }
          #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .item__info__container .item__title {
            color: black;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.5px; }
          #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .item__info__container .item__description {
            font-size: 12px;
            color: #7f8c8d; }
    @media (max-width: 1060px) {
      #portfolio #portfolio__container #portfolio__items__container {
        max-width: 680px; } }
    @media (max-width: 720px) {
      #portfolio #portfolio__container #portfolio__items__container {
        max-width: 340px; }
        #portfolio #portfolio__container #portfolio__items__container ul {
          position: relative; }
          #portfolio #portfolio__container #portfolio__items__container ul .item {
            margin-left: 20px;
            margin-right: 20px; } }
    @media (max-width: 400px) {
      #portfolio #portfolio__container #portfolio__items__container {
        max-width: 300px;
        margin-right: auto;
        margin-left: auto; }
        #portfolio #portfolio__container #portfolio__items__container .portfolio__items {
          max-width: 300px;
          margin-right: auto;
          margin-left: auto; }
          #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item {
            margin-right: auto;
            margin-left: auto; } }

@media (max-width: 400px) and (max-width: 340px) {
  #portfolio #portfolio__container #portfolio__items__container {
    max-width: 280px;
    margin-right: auto;
    margin-left: auto; }
    #portfolio #portfolio__container #portfolio__items__container .portfolio__items {
      max-width: 280px; }
      #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item {
        margin-right: auto;
        margin-left: auto; }
        #portfolio #portfolio__container #portfolio__items__container .portfolio__items .item .card-wrapper {
          width: 280px !important; } }
  @media (max-width: 800px) {
    #portfolio li {
      margin-right: 5px; }
      #portfolio li .button {
        padding: 10px 15px; } }
  @media (max-width: 510px) {
    #portfolio #filter__buttons {
      max-width: 300px; } }
  #portfolio .slant {
    -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
            clip-path: polygon(0 100%, 0 0, 100% 100%);
    background-color: white;
    height: 5vh;
    width: 50%;
    position: absolute;
    bottom: 0px;
    left: 0; }
  #portfolio .slant:nth-of-type(2) {
    -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
            clip-path: polygon(0 100%, 100% 0, 100% 100%);
    left: 50%; }

#capabilities .capabilities__container {
  max-width: 1020px;
  margin: 0 auto; }
  #capabilities .capabilities__container h1 {
    font-weight: 500; }
  #capabilities .capabilities__container .capabilities__desc {
    margin: 40px auto 0;
    font-weight: 500;
    max-width: 700px;
    font-size: 20px;
    line-height: 2;
    font-size: 20px; }
    #capabilities .capabilities__container .capabilities__desc .text__underline {
      position: relative;
      background: inherit;
      font-weight: 600;
      white-space: nowrap; }
      #capabilities .capabilities__container .capabilities__desc .text__underline .underline {
        background: #d3deee;
        position: absolute;
        top: 12px;
        right: 2px;
        z-index: -1;
        height: 0.55em; }
  #capabilities .capabilities__container #info-icons {
    margin-top: 40px; }
    #capabilities .capabilities__container #info-icons .info-icon {
      position: relative;
      width: 100px;
      padding: 10px;
      border: 1px solid black;
      border-radius: 0px 0px 7px 7px;
      display: inline-block;
      margin: 10px 17px;
      box-shadow: 5px 5px 5px #bdbdbd; }
      #capabilities .capabilities__container #info-icons .info-icon img {
        height: 40px; }
      #capabilities .capabilities__container #info-icons .info-icon p {
        margin-top: 9px;
        margin-bottom: 0;
        font-size: 12px; }
  #capabilities .capabilities__container .info-icon:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    width: 40px;
    height: 0;
    border-bottom: 1px dashed black; }
  #capabilities .capabilities__container #tech-icons .tech-icons__container {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px; }
    #capabilities .capabilities__container #tech-icons .tech-icons__container img {
      height: 70px;
      margin: 20px 40px; }
  @media (max-width: 750px) {
    #capabilities .capabilities__container #info-icons .info-icon {
      width: 80px;
      padding: 5px;
      margin: 10px 5px; }
      #capabilities .capabilities__container #info-icons .info-icon img {
        height: 30px; }
      #capabilities .capabilities__container #info-icons .info-icon p {
        margin-top: 9px;
        margin-bottom: 0;
        font-size: 10px; }
    #capabilities .capabilities__container #info-icons .info-icon:not(:last-child)::after {
      width: 15px; }
    #capabilities .capabilities__container #tech-icons .tech-icons__container {
      max-width: 380px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 40px; }
      #capabilities .capabilities__container #tech-icons .tech-icons__container img {
        height: 40px;
        margin: 15px 10px; } }
  @media (max-width: 405px) {
    #capabilities .capabilities__container #info-icons .info-icon:nth-of-type(3) {
      display: none; }
    #capabilities .capabilities__container #info-icons .info-icon:not(:last-child)::after {
      width: 15px; } }
  @media (max-width: 350px) {
    #capabilities .capabilities__container .tech-icons__container img {
      height: 40px;
      margin: 15px 5px !important; } }

#contact {
  padding-top: 0px; }
  #contact .button__container {
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: 40px auto 0; }
    #contact .button__container .button {
      font-size: 0.875rem;
      line-height: 1.125rem;
      letter-spacing: 0.0625rem;
      font-weight: 600;
      min-width: 200px;
      margin: 0px 20px;
      white-space: nowrap;
      padding: 14px 16px;
      border-radius: 2px; }
  @media (max-width: 500px) {
    #contact .button__container {
      flex-direction: column; }
      #contact .button__container .button {
        max-width: 200px;
        margin: 10px auto; } }

footer {
  height: 100px;
  background: #15191B;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px; }
  footer .footer__container {
    width: 1000px; }
    footer .footer__container i {
      color: white;
      font-size: 45px; }
    footer .footer__container .fa-linkedin {
      margin-right: 20px; }
    footer .footer__container p {
      font-size: 14px;
      margin: 0;
      color: white;
      position: relative;
      top: 8px; }
      footer .footer__container p a {
        color: white; }
