#contact {
  padding-top: 0px;
  .button__container {
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: 40px auto 0;
    .button {
      font-size: 0.875rem;
      line-height: 1.125rem;
      letter-spacing: 0.0625rem;
      font-weight: 600;
      min-width: 200px;
      margin: 0px 20px;
      white-space: nowrap;
      padding: 14px 16px;
      border-radius: 2px;
    }
  }
  @media (max-width: 500px) {
    .button__container {
      flex-direction: column;
      .button {
        max-width: 200px;
        margin: 10px auto;
      }
    }
  }
}
