#portfolio {
  background: #fbfbfb;
  position: relative;
  padding-bottom: 80px;
  .top-arrow {
    top: -30px;
  }
  .bottom-arrow {
    bottom: -20px;
  }
  #portfolio__container {
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
    h1 {
      font-weight: 500;
    }

    li {
      display: inline-block;
    }

    #filter__buttons {
      margin-top: 50px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-left: auto;
      margin-right: auto;
      li {
        display: flex;
        margin: 5px 5px;
      }

      .button {
        background-color: white;
        border: 1px solid $black;
        color: $black;
        // background: none;
        font-weight: bold;
        position: relative;
        transition: color 0.35s ease;
        border-radius: 2px;
        box-shadow: 0px 3px 7px 3px rgba(0, 0, 0, 0.1);
        z-index: 2;
      }

      .button::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $black;
        transition: width 0.425s ease-in-out;
        z-index: -1;
      }

      .current {
        background-color: $black;
        border: 1px solid transparent;
        color: white;
      }

      .button:not(.current):hover {
        color: white;
        border: 1px solid $black;
      }

      .button:hover::after {
        width: 100%;
      }
    }

    #portfolio__items__container {
      margin-top: 40px;
      max-width: 1020px;
      height: 100%;
      margin-right: auto;
      margin-left: auto;

      .portfolio__items {
        .item {
          margin: 20px;
          // box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.5);

          // start of flip card
          .card-wrapper {
            width: 300px;
            height: 350px;
            perspective: 1200px;
            .card-container {
              position: relative;
              width: 100%;
              height: 100%;
              transition: transform 1s;
              transform-style: preserve-3d;
              .card-face {
                position: absolute;
                height: 100%;
                width: 100%;
                backface-visibility: hidden;
                // -webkit-backface-visibility: hidden;
                border-radius: 16px;
                box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.25);
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
          .card-wrapper:hover .card-container {
            transform: rotateY(180deg);
          }

          .card-img-container {
            height: 100%;
          }

          .card-img {
            width: 100%;
            object-fit: contain;
          }
          .card-img-container-centered {
            height: 77%;
          }

          .card-face-back {
            background: white;
            transform: rotateY(180deg);
            color: black;
            display: flex;
            flex-direction: column;
            padding: 10px;
            img {
              margin-bottom: 20px;
            }
            p {
              margin-bottom: 20px;
            }
            p:nth-of-type(1) {
              font-weight: bold;
              font-size: 1.3rem;
            }
            p:nth-of-type(3) {
              font-weight: 600;
            }
            .card-face-back-links {
              display: flex;
            }
            a {
              margin: 0 5px;
              padding: 7px 10px;
              color: #2979ff;
              border: 1px solid #2979ff;
              border-radius: 5px;
              width: 120px;
              transition: all 0.5s ease;
              &:hover {
                color: white;
                background: #2979ff;
                border: 1px solid #2979ff;
              }
            }
          }
          h1 {
            text-align: center;
          }
        }
      }
    }
    @media (max-width: 1060px) {
      #portfolio__items__container {
        max-width: 680px;
      }
    }
    @media (max-width: 720px) {
      #portfolio__items__container {
        max-width: 340px;
        ul {
          position: relative;
          .item {
            margin-left: 20px;
            margin-right: 20px;
          }
        }
      }
    }
    @media (max-width: 400px) {
      #portfolio__items__container {
        max-width: 300px;
        margin-right: auto;
        margin-left: auto;
        .portfolio__items {
          max-width: 300px;
          margin-right: auto;
          margin-left: auto;
          .item {
            margin-right: auto;
            margin-left: auto;
          }
        }
      }
      @media (max-width: 340px) {
        #portfolio__items__container {
          max-width: 280px;
          margin-right: auto;
          margin-left: auto;
          .portfolio__items {
            max-width: 280px;
            .item {
              margin-right: auto;
              margin-left: auto;
              .card-wrapper {
                width: 280px !important;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 800px) {
    li {
      margin-right: 5px;
      .button {
        padding: 10px 15px;
      }
    }
  }
  @media (max-width: 510px) {
    #filter__buttons {
      max-width: 300px;
    }
  }
  .slant {
    clip-path: polygon(0 100%, 0 0, 100% 100%);
    background-color: white;
    // height: 80px;
    height: 5vh;
    // width: 100%;
    width: 50%;
    position: absolute;
    bottom: 0px;
    left: 0;
  }
  .slant:nth-of-type(2) {
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
    left: 50%;
  }
}

// .item__wrapper {
//   background-color: rgba(51, 71, 93, 0.6);
//   overflow: hidden;
//   position: relative;

//   .item__image {
//     width: 300px;
//     height: 177.91px;
//   }

//   .item__icon {
//     height: 60px;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     opacity: 0;
//   }
// }
// .item__wrapper:hover {
//   .item__image {
//     opacity: 0.4;
//     transform: scale(1.09);
//     scale: 1.05;
//     transition: opacity 0s, transform 0.25s linear;
//   }
//   .item__icon {
//     opacity: 1;
//     transition: opacity, 0.25s;
//   }
// }

// .item__info__container {
//   font-family: 'Montserrat', serif;
//   background-color: white;
//   height: 80px;
//   padding: 20px 0;
//   p {
//     padding: 0;
//     margin: 0;
//   }
//   .item__title {
//     color: black;
//     font-size: 12px;
//     text-transform: uppercase;
//     letter-spacing: 0.5px;
//   }
//   .item__description {
//     font-size: 12px;
//     color: #7f8c8d;
//   }
// }
