/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer (not included)
   ========================================================================== */

#particles-js {
  margin-top: 88px;
  width: 100%;
  background: -o-linear-gradient(
    90deg,
    rgba(21, 25, 27, 1) 0%,
    rgba(21, 25, 27, 0.9) 50%,
    rgba(21, 25, 27, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(21, 25, 27, 1)),
    color-stop(50%, rgba(21, 25, 27, 0.9)),
    to(rgba(21, 25, 27, 1))
  );
  background: -o-linear-gradient(
    left,
    rgba(21, 25, 27, 1) 0%,
    rgba(21, 25, 27, 0.9) 50%,
    rgba(21, 25, 27, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(21, 25, 27, 1) 0%,
    rgba(21, 25, 27, 0.9) 50%,
    rgba(21, 25, 27, 1) 100%
  );
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

#banner-text {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#banner-text h1 {
  font-weight: 700;
  font-size: 50px;
  font-family: 'roboto', sans-serif;
  color: white;
  -webkit-animation: leftIn 0.75s ease-out;
  animation: leftIn 0.75s ease-out;
  letter-spacing: 8px;
}
@-webkit-keyframes leftIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
    transform: translateX(-5rem);
  }
  80% {
    -webkit-transform: translateX(0.5rem);
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}
@keyframes leftIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5rem);
    transform: translateX(-5rem);
  }
  80% {
    -webkit-transform: translateX(0.5rem);
    transform: translateX(0.5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}
#banner-text p {
  font-size: 30px;
  letter-spacing: 4px;
  margin-bottom: 8px;
  -webkit-animation: rightIn 0.75s ease-out;
  animation: rightIn 0.75s ease-out;
  font-weight: bold;
}
@-webkit-keyframes rightIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
    transform: translateX(5rem);
  }
  80% {
    -webkit-transform: translateX(-0.5rem);
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}
@keyframes rightIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(5rem);
    transform: translateX(5rem);
  }
  80% {
    -webkit-transform: translateX(-0.5rem);
    transform: translateX(-0.5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0rem);
    transform: translateX(0rem);
  }
}
#banner-text h1,
p:hover {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

#banner-text a {
  background-color: white;
  color: black;
  border: 2px solid white;
  padding: 8px 15px;
  border-radius: 50px;
  font-size: 26px;
  letter-spacing: 2px;
  font-weight: 500;
  /* text-transorm: uppercase; */
}
@-webkit-keyframes downIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
    transform: translateY(-5rem);
  }
  80% {
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
}
@keyframes downIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5rem);
    transform: translateY(-5rem);
  }
  80% {
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
}
#cta-portfolio {
  -webkit-transform: translateY(0) scale(1);
  -ms-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  -webkit-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  -webkit-animation: downIn 0.75s ease-out 0.5s;
  animation: downIn 0.75s ease-out 0.5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
#cta-portfolio:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.slant {
  -webkit-clip-path: polygon(0 100%, 0 0, 100% 100%);
  clip-path: polygon(0 100%, 0 0, 100% 100%);
  background-color: white;
  height: 5vh;
  width: 50%;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.slant:nth-of-type(2) {
  -webkit-clip-path: polygon(0 100%, 100% 0, 100% 100%);
  clip-path: polygon(0 100%, 100% 0, 100% 100%);
  left: 50%;
}

@media (min-width: 768px), (min-height: 768px) {
  #particles-js {
    height: 82%;
  }
}
@media (min-height: 451px) and (max-height: 767px) {
  #particles-js {
    height: 80%;
  }
  #banner-text h1 {
    font-size: 35px;
  }
  #banner-text p {
    font-size: 22px;
  }
  #banner-text a {
    font-size: 22px;
  }
}
@media (max-height: 450px) {
  #particles-js {
    height: 65%;
  }
  #banner-text h1 {
    font-size: 28px;
  }
  #banner-text p {
    font-size: 18px;
    margin-bottom: 0;
  }
  #banner-text a {
    font-size: 18px;
  }
}
